.customTooltipSessions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    height: 30px;

    p {
        color: var(--text-color-dark-2);
        font-size: var(--font-size-8);
        font-weight: 600;
    }
}
.titleSessionsChart {
    position: absolute;
    color: var(--text-color-light-1);
    font-size: var(--font-size-16);
    font-weight: 400;
    opacity: 60%;
    top: 50px;
    z-index: 1;
    left: 40px;
    width: 150px;
}